@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
     url("../../fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
    font-weight: bold;
    }
    @font-face {
        font-family: "NunitoNorm";
        src: local("Nunito"),
         url("../../fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
        font-weight: normal;
        }
.header {
    height: fit-content;

}
.header_intro {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
    height: fit-content;
    
}

.header_intro .box{
    display: flex;
    height: fit-content;
    padding: 3% 5%;
}
.left > h1{
    font-family: 'Nunito';
    font-size: 7.2rem;
    line-height: 100.4%;
    text-align: left;
}
.left > h2{
    font-family: 'Nunito';
    color: black;
    font-size: 6.4rem;
    line-height: 100.4%;
    text-align: left;

}
.left>p{
color: #4B4B4B;
font-family: NunitoNorm;
font-weight: 400;
font-size: 3.6rem;
line-height: 44px;
letter-spacing: 0em;
text-align: left;

}
.left>p>span{

color: black;
opacity: 0;
animation-duration: 1500ms;
animation-name: fadein;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
transition: all 0.5s ease-out;

}
@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.header_intro .box .left{
    width: 36%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6%;
    align-items: left;
    font-size: 1.1em;
}
.span{
   
}
.signUp{
padding: 0.8rem 3.2rem;
width: fit-content;
background: #62E0F0;
box-shadow: 0px 2px 6px rgba(107, 55, 74, 0.25);
border-radius: 10px;
border-width : 0;
font-family: 'Nunito';
font-size: 1.6rem;
line-height: 22px;
margin: 2rem 0 0 0;
}
.header_intro .box img{
    width: 40%;
    height: auto;
    margin: 0px 5px 0 12%;
}
.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  

@media (min-width: 768px) and (max-width: 991px){
    .header_intro .box .left{
    }
}
@media (max-width: 767px){
    .header_intro .box .left{
        width: 100%; 
        align-items: center;
        
    }
    .header_intro .box img{
        display: none;
    }
    .signUp{
        font-size: 2.6vw;
    }
    .left>p{
        text-align: center;
    }
}
@media (max-width: 500px){
    .header{
        background-position: left bottom, right top;
        background-size: 58% 80%,50% 50%;
    }
}
