@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
     url("../../fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
    font-weight: bold;
    }
    @font-face {
        font-family: "NunitoNorm";
        src: local("Nunito"),
         url("../../fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
        font-weight: normal;
        }

.navbar {
  padding: 15px;
  font-size: 1.1em;
}
.nav-link{
    color: black;
    font-family: 'Nunito';

font-size: 1.8rem;
line-height: 27px;

}
.nav-item {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0%;
}
.katie {
color: #4A4A4A;
  text-decoration: none;
  font-family: Nunito;

  font-size: 4.8rem;
  line-height: 65px;
  text-align: center;
  /* margin-left: 30%; */
}
.navbar-toggler-icon {
  width: 4em;
  height: 4em;
}

.navbar-collapse{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ms-auto{
  justify-content: center;

  position: relative;
}
.nav-link{
  text-align: right;
}
@media (min-width: 546px) {
  /* .nav-link{
    text-align: right;
  } */
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
  .navbar-expand-custom .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-custom .nav-link {
    padding-right: 1.5rem;
    padding-left: 2.5rem;
    text-align: right;
  }
  .navbar-expand-custom > .container {
    flex-wrap: nowrap;
  }
  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
}

@media (max-width:1000px){
  .nav-link{
    font-size: 3rem;
  }
  .katie{
    font-size: 7rem;
  }
}
@media (max-width:546px){
  .nav-link{
    font-size: 4rem;
  }
  .katie{
    font-size: 7rem;
  }
  .navbar{
    padding: 5px;
  }
}