
html {
  font-size: 0.7vw;
  
}
body {
  background: url('./Katie_public_bg_V2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 240%;
  background-repeat: no-repeat;
  background-position-x: -900px;
  background-position-y: -900px; */
  font-size: 1.6rem;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

